.me-core-main {
  display: flex;

  p {
    margin: 0;
  }
}
.me-core-chip-select {
  padding: 4px;
  width: 256px;
}
.me-core-map-edit {
  padding: 4px;
}
.me-core-chip-selected {
  display: flex;

  .me-core-chip-selected-c {
    padding: 0;
    flex: 96px 0 0;
  }
  .me-core-chip-selected-d {
    flex: auto 1 1;
    padding: 6px;
  }
}
.me-core-edit-mode {
  display: flex;
}
.me-core-edit-mode-button {
  padding: 6px;
  background-color: #eeeeee;
  transition: background-color 0.3s ease;

  cursor: pointer;

  &.me-core-edit-mode-current {
    background-color: #66ee33;
  }
}
