$me-button-surface-color-off : #eeeeee;
$me-button-surface-color-on  : #66ff33;
$me-button-surface-color-hov : #88bb55;
.me-core-main {
  display: flex;

  p {
    margin: 0;
  }
}
.me-core-info {
  display: flex;
  padding-bottom: 4px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 4px;

  & > div {
    margin: 0 8px;
  }
}
.me-core-map-info {
  display: flex;
  margin-bottom: 4px;
}
.me-core-chip-select {
  box-sizing: content-box;
  padding: 4px;
}
.me-core-chip-select-layer {
  flex: 512px 0 0;
}
.me-core-chip-select-map {
  flex: 256px 0 0;
}
.me-core-map-edit {
  margin: 4px;
  padding: 0;
  position: relative;

  & > canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.me-core-map-edit-canvas2 {
  transition: opacity 0.4s ease;
  opacity: 1;
}
.me-core-chip-selected {
  display: flex;

  .me-core-chip-selected-c {
    padding: 0;
    flex: 96px 0 0;
  }
  .me-core-chip-selected-d {
    flex: auto 1 1;
    padding: 6px;
  }
}
.me-core-edit-mode {
  display: flex;

  & > div {
    margin: 0 6px;
  }
}

.me-core-param-edit-menu {
  margin: 5px;
}
.me-core-param-edit-main {
  max-height: 600px;
  overflow-y: scroll;
}
.me-core-param-param {
  label {
    display: block;
    border-bottom: 1px dashed #cccccc;
    margin-bottom: 2px;

    & > b,& > span {
      display: inline-block;
    }
    b {
      width: 340px;
    }
    input[type="text"], input[type="number"], select {
      min-width: 300px;
    }
  }
}

// util
.me-core-util-select {
  display: flex;
}
.me-core-util-select-button {
  padding: 6px;
  background-color: $me-button-surface-color-off;
  transition: background-color 0.3s ease;

  cursor: pointer;

  &:hover {
    background-color: $me-button-surface-color-hov;
  }

  &.me-core-util-select-current {
    background-color: $me-button-surface-color-on;
  }
}

.me-core-util-switch, .me-core-util-button {
  padding: 6px;
  background-color: $me-button-surface-color-off;
  transition: background-color 0.3s ease;

  cursor: pointer;

  &:hover {
    background-color: $me-button-surface-color-hov;
  }

  &.me-core-util-switch-yes {
    background-color: $me-button-surface-color-on;
  }
}

.me-core-util-color {
  display: flex;
}
.me-core-util-color-box {
  flex: auto 0 0;
  width: 6rem;
  padding: 2px;
}
.me-core-util-color-edit {
  display: flex;
  flex-flow: column nowrap;
}


