.me-core-main {
  display: flex;

  p {
    margin: 0;
  }
}
.me-core-info {
  padding-bottom: 4px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 4px;
}
.me-core-map-info {
  display: flex;
}
.me-core-chip-select {
  padding: 4px;
  width: 256px;
}
.me-core-map-edit {
  margin: 4px;
  padding: 0;
  position: relative;

  & > canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.me-core-map-edit-canvas2 {
  transition: opacity 0.4s ease;
  opacity: 1;
}
.me-core-chip-selected {
  display: flex;

  .me-core-chip-selected-c {
    padding: 0;
    flex: 96px 0 0;
  }
  .me-core-chip-selected-d {
    flex: auto 1 1;
    padding: 6px;
  }
}
.me-core-edit-mode {
  display: flex;

  & > div {
    margin: 0 6px;
  }
}

// util
.me-core-util-select {
  display: flex;
}
.me-core-util-select-button {
  padding: 6px;
  background-color: #eeeeee;
  transition: background-color 0.3s ease;

  cursor: pointer;

  &.me-core-util-select-current {
    background-color: #66ff33;
  }
}

.me-core-util-switch {
  padding: 6px;
  background-color: #eeeeee;
  transition: background-color 0.3s ease;

  cursor: pointer;

  &.me-core-util-switch-yes {
    background-color: #66ff33;
  }
}
