.wrapper {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--toolbar-line-color);
  display: flex;
  flex-flow: row wrap;

  background-color: var(--toolbar-surface);
}

.wrapper .toolbox {
  margin-right: 4px;
}
.wrapper .toolbox:not(:first-child) {
  border-left: 1px solid var(--toolbar-line-color);
  padding-left: 4px;
}

.toolbox-label {
  margin: 0.2em;

  font-size: 0.8em;
  color: #666666;
}

.toolbox-row {
  display: flex;
  margin: 0 0 4px 0;
}
