.wrapper {
  display: flex;
  flex-flow: row nowrap;
}
.main {
  flex: auto 1 1;
}
.chip-information {
  background-color: var(--chipselect-bg);
  display: flex;
  flex-flow: row nowrap;
}
.chip-display {
  flex: auto 0 0;
}
.chip-description {
  flex: auto 1 1;
}

/* style of input which displays default value. */
.input-default {
  color: #777777;
}
