@value button-surface-color-off, button-surface-color-on, button-surface-color-hov from '../theme/color.css';
.button {
  padding: 6px;
  background-color: button-surface-color-off;
  transition: background-color 0.3s ease;

  cursor: pointer;
}

.button:hover {
  background-color: button-surface-color-hov;
}
