@value button-surface-color-off, button-surface-color-on, button-surface-color-hov, button-label-color-disabled from '../theme/color.css';

.button {
  display: inline-block;

  padding: 6px;
  background-color: button-surface-color-off;
  transition: background-color 0.3s ease;

  cursor: pointer;
}

.button:not(.disabled):hover {
  background-color: button-surface-color-hov;
}

.disabled {
  composes: button;

  color: button-label-color-disabled;
  cursor: default;
}
