.button {
  display: inline-block;

  padding: 6px;
  background-color: var(--button-surface-color-off);
  transition: background-color 0.3s ease;

  cursor: pointer;

  user-select: none;
}

.button:not(.disabled):hover {
  background-color: var(--button-surface-color-hov);
}

.disabled {
  composes: button;

  color: var(--button-label-color-disabled);
  cursor: default;
}
