/* Scroll component の wrapper */
.outerWrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* size of scroll tip */
  --control-width: 16px;
  padding: 0 var(--control-width) var(--control-width) 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  width: 100%;
  height: 100%;
}

/* common bar style */
.bar-wrap {
  position: absolute;

  display: flex;
}
.bar {
  position: relative;

  flex: auto 1 0;
  background-color: #e9e9e9;

  user-select: none;
}
.tip {
  position: absolute;
  background-color: #999999;

  user-select: none;
}
/* horizontal bar */
.horWrap {
  composes: bar-wrap;

  width: 100%;
  height: var(--control-width);
  left: 0;
  bottom: calc(-1 * var(--control-width));

  flex-flow: row nowrap;
}
.hor {
  composes: bar;

}

/* vertical bar */
.verWrap {
  composes: bar-wrap;

  width: var(--control-width);
  height: 100%;
  right: calc(-1 * var(--control-width));
  top: 0;

  flex-flow: column nowrap;
}
.ver {
  composes: bar;
}

.horTip {
  composes: tip;
  height: var(--control-width);
}

.verTip {
  composes: tip;
  width: var(--control-width);
}

/* push button */
.push-button {
  flex: var(--control-width) 0 0;
  box-sizing: border-box;
  width: var(--control-width);
  height: var(--control-width);

  background-color: #d4d4d4;
  border: 1px outset #eeeeee;
}

.leftButton {
  composes: push-button;
}
.rightButton {
  composes: push-button;
}
.upButton {
  composes: push-button;
}
.downButton {
  composes: push-button;
}
