@value width: 16px;
/* Scroll component の wrapper */
.outerWrapper {
  padding: 0 width width 0;
}

.wrapper {
  position: relative;
}

.content {
}

/* common bar style */
.bar {
  position: absolute;
  background-color: #e9e9e9;

  user-select: none;
}
.tip {
  position: absolute;
  background-color: #999999;

  user-select: none;
}
/* horizontal bar */
.hor {
  composes: bar;

  width: 100%;
  height: width;
  left: 0;
  bottom: calc(-1 * width);
}

/* vertical bar */
.ver {
  composes: bar;

  width: width;
  height: 100%;
  right: calc(-1 * width);
  top: 0;
}

.horTip {
  composes: tip;
  height: width;
}

.verTip {
  composes: tip;
  width: width;
}
