@value button-surface-color-on from '../theme/color.css';

.switch-normal {
  composes: button from './button.css';
}

.switch-yes {
  composes: switch-normal;

  background-color: button-surface-color-on;
}
