/* Color theme. */
:root {
  --button-surface-color-off: #eeeeee;
  --button-surface-color-on: #66ff33;
  --button-surface-color-hov: #88bb55;
  --button-label-color-disabled: #888888;

  --toolbar-surface: #f4f4f4;
  --toolbar-line-color: #cccccc;
}

.dummy {
}
