.wrapper {
  display: flex;
  flex-flow: row wrap;

  & > div {
    margin-right: 4px;
  }
  & > div:not(:first-child) {
    border-left: 1px solid var(--toolbar-line-color);
    padding-left: 4px;
  }
}
