.wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.screen-wrapper-fit {
  flex: auto 1 1;
  display: flex;
  flex-flow: column nowrap;
}

.info {
  display: flex;
  border-bottom: 1px solid var(--toolbar-line-color);

  & > div {
    margin-right: 8px;
  }
}

.toolbox-label {
  margin: 0.2em;

  font-size: 0.8em;
  color: #666666;
}
