.info{
  display: flex;
  border-bottom: 1px solid var(--toolbar-line-color);

  & > div {
    margin-right: 8px;
  }
}

.toolbox-label {
  margin: 0.2em;

  font-size: 0.8em;
  color: #666666;
}

.map-info {
  display: flex;
}

.maps-column {
  display: flex;
  flex-flow: row wrap;
}
.maps-row {
  display: flex;
  flex-flow: row wrap;
}

.maps-column .minimap-wrapper {
  flex: 100% 0 1;
  border-top: 1px solid var(--toolbar-line-color);
  border-bottom: 1px solid var(--toolbar-line-color);
}
.maps-row .minimap-wrapper {
  border-left: 1px solid var(--toolbar-line-color);
  border-right: 1px solid var(--toolbar-line-color);

}

.chipselect-wrapper {
  background-color: var(--chipselect-bg);
}

.mainmap-wrapper {
  flex: auto 1 0;

  background-color: var(--mainmap-bg);
}
