@value toolbar-line-color #cccccc;

.info{
  display: flex;
  border-bottom: 1px solid toolbar-line-color;

  & > div {
    margin-right: 8px;
  }
}

.toolbox-label {
  margin: 0.2em;

  font-size: 0.8em;
  color: #666666;
}

.map-info {
  display: flex;
}

.maps-column {
}
.maps-row {
  display: flex;
  flex-flow: row nowrap;
}

.main {
  display: flex;

  p {
    margin: 0;
  }
}
