.wrapper {
  flex: auto 1 1;
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
}

.menu {
  flex: auto 0 0;
  margin: 5px;
}

.main {
  flex: auto 1 1;
  position: relative;
  left: 0;
  top: 0;
  overflow-y: scroll;
}

.main > div {
  position: absolute;
  left: 0;
  top: 0;
}

.param > label {
  display: block;
  border-bottom: 1px dashed #cccccc;
  margin-bottom: 2px;
}
.param {
  label {
    display: block;
    border-bottom: 1px dashed #cccccc;
    margin-bottom: 2px;

    & > b,
    & > span {
      display: inline-block;
    }
    b {
      width: 340px;
    }
    input[type='text'],
    input[type='number'],
    select {
      min-width: 300px;
    }
  }
}
