.menu {
  flex: auto 0 0;
  margin: 5px;
}

.main {
  flex: auto 1 1;
  position: relative;
  left: 0;
  top: 0;
  overflow-y: scroll;
}

.main-fitting > div {
  position: absolute;
  left: 0;
  top: 0;
}

.main-non-fitting {
  max-height: 80vh;
}
